body {
  background: rgb(204,204,204);
}

img {
  float: right;
  opacity: 1;
  width: 40%;
}

.a4[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

.outDoor {
  padding-left: 30px;
}

.bar { 
    border: 0.5px solid black;
}
